/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

html {
	font-size: 16px;
    /* penser à remplacer par 62,5% et à adapter le reste en rem le cas échéant */
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** no margin no padding ***********/
*{
    margin: 0;
    padding: 0;
 }

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 2rem 0rem 2rem 0rem;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav a:hover {
    color: #0065FC;
    border-top: 2px solid;
    padding-top: 1rem;
}

.header-nav ul {
    list-style: none;
    display: flex;
}

.header-nav li {
    padding-left: 3rem;
}

.logo {
    width: 64px;
    height: 20px;
}

/****** Form section ***********/
/****** Form ***********/
.form-section h1 {
    margin-bottom: 0.5rem;
}


.entry-field {
    display: flex;
    align-items: stretch;
    min-height: 3rem;
    margin-bottom: 2rem; 
    margin-top: 2rem;  
}

.fa-location-dot {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    border: 1rem solid var(--main-bg-color);
    border-radius: 1rem 0rem 0rem 1rem;
}

#loc {
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    display: flex;
    align-items: center;
}

#loc input {
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
}

.button {
    border-radius: 0rem 1rem 1rem 0rem;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.button:hover {
    box-shadow: 0px 0px 10px var(--main-color);
}

/****** Filters ***********/
.filters {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 2rem;
}

.filters span {
    font-size: 1.2rem;
}

.filters-buttons {
    display: flex;
    align-items: center;
    border: 2px solid var(--main-bg-color);
    border-radius: 2rem;
    height: 2rem;
    margin-left: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.filters-buttons span {
    margin-left: 0.5rem;
    font-size: 1rem;
}

.filters-buttons:hover {
    background-color: var(--filter-bg-color);    
}

.form-section-bottom {
    display: flex;
    align-items: center;
}

.fa-info {
    height: 1.4rem;
    width: 1.4rem;
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-section-bottom p {
    margin-left: 1rem;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem 2rem 0rem;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px 30px 0px 30px;
    box-sizing: border-box;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.hebergements-cards a {
    width: 31%;
}

.hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
}

.hebergements-cards img {
    height: 110px;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 0.8rem;
}

.hebergements-cards .card-subtitle {
    margin: 0.5rem 0rem 0.5rem 0rem;
    font-size: 0.9rem;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.show-more {
    margin: 2rem 0rem 2rem 0rem;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 0.9rem;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */
.activites {
    width: 100%;
    padding: 30px 30px 0px 30px;
    box-sizing: border-box;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
}

.activites-cards a {
    width: 22%;
}

.activites-cards img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activites-cards .card {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
    padding: 0;
}

.activites-cards h3 {
    margin: 1rem 1rem 1rem 1rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}