/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 1.375rem;
}

.main-title {
    font-size: 1.375rem;
}

.card {
    background-color: white;
    border-radius: 1.25rem;
    padding: 5px;
    filter: drop-shadow(0rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

ul {
    list-style: none;
}

/****** no margin no padding ***********/
*{
    margin: 0;
    padding: 0;
 }

/****** Display flex ***********/

.body,
.header,
.header-nav,
.header-nav ul,
.entry-field,
.fa-location-dot,
#loc,
.button,
.filters,
.filters-buttons,
.filters-line,
.form-section-bottom,
.fa-info,
.hebergements-and-populaires,
.hebergements-cards,
.hebergements-cards .card,
.hebergements-cards .card-content,
.populaires-title,
.populaires-cards .card,
.populaires-cards .card-content,
.activites-cards,
.activites-cards .card,
.activites-cards .card-content,
.footer {
    display: flex;
}

.header-nav,
.fa-location-dot,
#loc,
.button,
.filters,
.filters-buttons,
.form-section-bottom,
.fa-info,
.populaires-title,
.activites-cards .card-content {
    align-items: center;
}

.body,
.button,
.fa-info {
    justify-content: center;
}

.header,
.hebergements-and-populaires,
.hebergements-cards,
.hebergements-cards .card-content,
.populaires-title,
.populaires-cards .card-content,
.activites-cards {
    justify-content: space-between;
}

/****** Header ***********/
.header {
    align-items: stretch;
    margin: 2rem 0rem 2rem 0rem;
}

.header-nav {
    justify-content: flex-end;
}

.header-nav a:hover {
    color: var(--main-color);
    border-top: 0.125rem solid;
    padding-top: 1rem;
}

.header-nav li {
    padding-left: 3rem;
}

.logo {
    width: 64px;
    height: 20px;
}

/****** Form section ***********/
/****** Form ***********/
.form-section h1 {
    margin-bottom: 0.5rem;
}

.form-section {
    padding-top: 2rem;
}

.entry-field {
    align-items: stretch;
    min-height: 3rem;
    margin-bottom: 2rem; 
    margin-top: 2rem;  
}

.fa-location-dot {
    background-color: var(--main-bg-color);
    border: 1rem solid var(--main-bg-color);
    border-radius: 1rem 0rem 0rem 1rem;
}

#loc {
    border-top: 0.0625rem solid var(--main-bg-color);
    border-bottom: 0.0625rem solid var(--main-bg-color);
}

#loc input {
    font-weight: 700;
    font-size: 1.125rem;
    border: none;
}

.button {
    border-radius: 0rem 1rem 1rem 0rem;
    border: 0.0625rem solid var(--main-color);
    background: var(--main-color);
    padding: 0rem 1rem;
}

.button span {
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
}

.button i {
    display: none;
}

.button:hover {
    filter: drop-shadow(0rem 0.5rem 0.25rem rgba(0, 0, 0, 0.1));
}

/****** Filters ***********/
.filters {
    font-weight: 700;
    margin-bottom: 2rem;
}

.filters p {
    font-size: 1.125rem;
    margin-right: 1rem;
}

.filters-buttons {
    border: 0.1875rem solid var(--main-bg-color);
    border-radius: 2rem;
    height: 2rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.filters-buttons span {
    margin-left: 0.625rem;
    font-size: 1rem;
}

.filters-buttons:hover {
    background-color: var(--filter-bg-color);    
}

.fa-info {
    height: 1.4rem;
    aspect-ratio: 1/1;
    border: 0.125rem solid var(--main-bg-color);
    border-radius: 50%;
}

.form-section-bottom p {
    margin-left: 1rem;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    margin: 2rem 0rem 2rem 0rem;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    border-radius: 1.25rem;
    padding: 30px 30px 0px 30px;
    box-sizing: border-box;
}

.hebergements-cards {
    flex-flow: row wrap;
}

.hebergements-cards a {
    width: 31%;
    margin-top: 2.0625rem;
}

.hebergements-cards .card {
    flex-direction: column;
}

.hebergements-cards img {
    height: 110px;
    border-top-right-radius: 0.9375rem;
    border-top-left-radius: 0.9375rem;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 0.8rem;
}

.hebergements-cards .card-subtitle {
    margin: 0.5rem 0rem 0.5rem 0rem;
    font-size: 0.9rem;
}

.hebergements-cards .card-rating {
    margin-bottom: 0.3125rem;
}

.show-more {
    margin: 2rem 0rem 2rem 0rem;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 1.25rem;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-cards .card {
    margin-top: 2.0625rem;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 0.9375rem;
    border-bottom-left-radius: 0.9375rem;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    flex-direction: column;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 0.625rem;
    margin-bottom: 0.25rem;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 0.9rem;
}

.populaires-cards .card-rating {
    margin-bottom: 0.3125rem;
}

/* Activités */
.activites {
    padding: 30px 30px 0px 30px;
    box-sizing: border-box;
}

.activites-cards a {
    width: 22%;
    margin-top: 2.0625rem;
}

.activites-cards img {
    height: 350px;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
}

.activites-cards .card {
    flex-direction: column;
    padding: 0;
}

.activites-cards h3 {
    margin: 0rem 1rem;
}

.activites-cards .card-content {
    height: 3rem;
}

/* footer */

footer {
    background-color: var(--main-bg-color);
    margin-top: 3.5rem;
}

.footer-column {
    width: 33%;
    padding: 1.2rem;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    margin-top: 1rem;
}

h4 {
    font-size: 1.1rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters {
        align-items: normal;
    }

    .filters p {
        margin-bottom: 1rem;
    }

    .hebergements-and-populaires,
    .filters {
            flex-direction: column;
    }

    .hebergements,
    .populaires {
        width: 100%;
    }

    .populaires {
        margin-top: 3.125rem;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
        margin-top: 2.0625rem;
    }
    
    .populaires-cards .card {
        margin-top: 0;
    }

    .populaires-cards .card-title {
        font-size: 0.875rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125rem;
    }

    .hebergements-cards .card-title {
        font-size: 0.875rem;
    }

    .hebergements-cards .card-subtitle {
        font-size: 0.8125rem;
    }

    .activites-cards .card-title {
        font-size: 0.875rem;
    }

    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    .header {
        align-items: center;
        gap: 1.5rem;
    }

    .header, .populaires-cards, .hebergements-cards, .activites-cards, .footer {
        flex-direction: column;
    }

    .header-nav,
    .header-nav ul,
    #loc input,
    .populaires-cards a,
    .hebergements-cards a,
    .activites-cards a {
        width: 100%;
    }

    .header-nav li {
        width: 50%;
        padding: 0;
        border-bottom: 0.125rem var(--main-bg-color) solid;
        display: flex;
        justify-content: center;
    }

    .header-nav a { 
        padding-bottom: 1rem;
    }

    .header-nav li:hover {
        border-bottom: 0.125rem var(--main-color) solid;
    }
    
    .header-nav a:hover {
        border-top: 0;
        padding-top: 0;
    }

    .form-section {
        padding: 0 1rem;
    }

    .button {
        border-radius: 1rem 1rem 1rem 1rem;
        position: relative;
        right: 1rem;
        width: 3rem;
    }

    .button span {
        display: none;     
    }

    .button i {
        display: contents;
    }
    
    .filters-line {
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 1rem;
    }

    .filters-line a {
        width: 49%;
    }

    .filters-buttons {
        justify-content: flex-start;
        margin-right: 0;
    }

    .filters-buttons span {
        font-size: 0.875rem;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        border-radius: 0;
        padding: 1.875rem 1rem 1.875rem 1rem;
        margin-top: 0;
    }

    .populaires-cards a, .hebergements-cards a {
        margin-top: 1rem;
    }

    .hebergements {
        border-radius: 0;
        background-color: white;
        padding: 1.875rem 1rem 1rem 1rem;
    }

    .activites {
        padding: 0rem 1.5rem;
    }

    .activites .section-title {
        margin-bottom: 1rem;
    }

    .activites-cards {
        gap: 1rem;
    }

    .activites-cards img {
        height: 140px;
    }
    
    .activites-cards a {
        margin: 0;
    }

    .footer-column {
        padding: 1rem;
        width: auto;
    }
}